@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;  
}

h1 {
    font-size: 36px;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

a{
    text-decoration: none;
    position: relative;
}

.link_hover-effect:after{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}

.link_hover-effect--white:after{
    background-color: #fff;
}

.link_hover-effect--black:after{
    background-color: #000;
}

.link_hover-effect:hover:after{
    width: 100%;
    left: 0;
}

li{
    list-style-type: none;
}

.flex{
    display: flex;
}

.flex-1{
    flex: 1;
}

.container{
    padding: 50px 20px;
}

.row{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.text--purple{
    color: #6030b1;
}  

section:nth-child(even){
    margin-bottom: 20px;
}

.section_title{
    padding: 100px 0;
}

/* NAVIGATION BAR */

nav{
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
} 

.nav_link--list{
    display: flex;
}

.nav_link--anchor{
    margin:0% 12px;
    color: #242424;
    font-weight: 700;
}   

.nav_link--anchor-primary{
    padding: 8px 20px;
    background-color: #6030b1;
    color: white;
    border-radius: 50px;
    transition: all 300ms ease;
}

.nav_link--anchor-primary:hover{
    background-color: #5d3eff;
}   

.personal_logo{
    font-size: 24px;
    color: #6030b1;
    margin: 0 12px;
    font-weight: bold;
}   

/* ABOUT ME SECTION */

#about_me{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me_info{
    display: flex;
    flex-direction: column;
}

.about-me_info--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.about-me_picture--mask{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 28px;
}

.about-me__picture{
    width: 100%;
}

.about-me_info--title{
    margin-bottom: 16px;
    font-size: 28px;
}

.about-me_info--para{
    font-size: 20px;
    margin-bottom: 28px;
}

.about-me_link{
    font-size: 20px;
    color: #6030b1;
    padding: 0 16px;
}

.about-me_img--container{
    flex: 1;
    display: flex;
    align-items: center;
    margin-top: 48px;
}

.about-me_img{
    width: 100%;
}

/* TECH - STACK SECTION */

.language_img{
    width: 100%;
    max-width: 100px;
    transition: all 300ms ease;
    margin: 20px 0;
}

.language:hover .language_img{
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}

.language{
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
}

.language_img--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
}

.language_list{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.language_name{
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms ease;
    font-size: 20px;
    opacity: 0;
}

.language:hover .language_name{
    transform: scale(1);
    opacity: 1;
}   

/* PROJECTS SECTION */

.project{
   margin-bottom: 135px;
   position: relative; 
}

.project:last-child{
    margin-bottom: 40px;
}

.project_img{
    width: 100%;
    transition: all 500ms ease;
}

.project_wrapper{
    display: flex;
    box-shadow: 0 20px 80px rgba(0,0,0,0.45);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    justify-content: center;
}   

.project_wrapper:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: opacity 450ms ease;
    z-index: 2;
}

.project:hover .project_wrapper:before{
    opacity: 0.7;
}

.project:hover .project_img{
    transform: scale(1.07);
    filter: blur(5px);
    opacity: 0.86;
}

.project:hover .project_description{
    opacity: 1;
    transform: translateY(-50%);
}

.project_list{
    padding-top: 40px;
}

.project_description{
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    max-width: 550px;
    z-index: 3;
    opacity: 0;
    transition: transform 450ms, opacity 300ms;
}

.project_description--title{
    font-size: 40px;
}

.project_description--para{
    margin: 16px 0;
}

.project_description--link{
    font-size: 20px;
    margin-right: 16px;
}

.project_description--title,
.project_description--sub-title,
.project_description--para,
.project_description--link{
    text-align: left;
    color: #fff;
}

/* FOOTER SECTION */

footer{
    background-color: #242424;
}

.footer_social--list{
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 28px;
}

.footer_row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8% 0;
    text-decoration: none;
}

.footer_logo--img{
    width: 70px;
    height: 70px;
}

.footer_social--link,
.footer_copyright,
.footer_logo--popper{
    color: #fff;
}

.footer_logo--popper{
    position: absolute;
    right: 0;
    top: 30px;
    font-weight: 700;
    opacity: 0;
    transition: all 300ms ease;
}

.footer_anchor{
    margin-bottom: 20px;
    position: relative;
}

.footer_anchor:hover .footer_logo--popper{
    transform: translateX(60px);
    opacity: 1;
}

/* Small phones, tablets, large smartphones */
@media (max-width: 768px) {
    nav{
        height: 68px;
    }

    h1{
        font-size: 28px;
    }

    .about-me_info--para{
        font-size: 18px;
    }

    .language{
        width: calc(100% / 3);
    }
}